@use "../../../styles/mixins";

.list {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  list-style: none;
  margin: 0;
  padding: 0;
}

.visuallyHidden {
  @include mixins.visually-hidden;
}
